# Exercício Módulo 2

In [1]:
# Exercício 1 - Imprima na tela os números de 1 a 10. Use uma lista para armazenar os números.

list_1 = []

for i in range(1,11):
    print(i)
    list_1.append(i)

print(list_1)

1
2
3
4
5
6
7
8
9
10
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [3]:
# Exercício 2 - Crie uma lista de 5 objetos e imprima na tela
list_2 = [1,2,'a',True,'b']
print(list_2)

[1, 2, 'a', True, 'b']

In [4]:
# Exercício 3 - Crie duas strings e concatene as duas em uma terceira string

list_3_a   = [1,2,3,4]
list_3_b = [5,6,7,8]
list_3_c = list_3_a + list_3_b

print(list_3_c)

[1, 2, 3, 4, 5, 6, 7, 8]

In [6]:
# Exercício 4 - Crie uma tupla com os seguintes elementos: 1, 2, 2, 3, 4, 4, 4, 5 e depois utilize a função count do 
# objeto tupla para verificar quantas vezes o número 4 aparece na tupla

tupla_4 = (1, 2, 2, 3, 4, 4, 4, 5)
tupla_4.count(4)

3

In [17]:
# Exercício 5 - Crie um dicionário vazio e imprima na tela
dict_5_vazio = {}
type(dict_5_vazio)

dict

In [19]:
# Exercício 6 - Crie um dicionário com 3 chaves e 3 valores e imprima na tela
dict_6 = {'key1':1, 'key2':2, 'key3':3}
print(dict_6)

{'key1': 1, 'key2': 2, 'key3': 3}

In [21]:
# Exercício 7 - Adicione mais um elemento ao dicionário criado no exercício anterior e imprima na tela
dict_6['key7'] = 7

{'key1': 1, 'key2': 2, 'key3': 3, 'key7': 7}

In [8]:
# Exercício 8 - Crie um dicionário com 3 chaves e 3 valores. Um dos valores deve ser uma lista de 2 elementos numéricos. 
# Imprima o dicionário na tela.
dict_8 = {'key1':[1,2], 'key2':3, 'key3':4}

In [22]:
# Exercício 9 - Crie uma lista de 4 elementos. O primeiro elemento deve ser uma string, 
# o segundo uma tupla de 2 elementos, o terceiro um dicionário com 2 chaves e 2 valores e 
# o quarto elemento um valor do tipo float.
# Imprima a lista na tela.

list_9 = ['string', (1,2), {'k1':'value1', 'k2':'value2'}, 3.14]
print(list_9)

['string', (1, 2), {'k1': 'value1', 'k2': 'value2'}, 3.14]

In [24]:
# Exercício 10 - Considere a string abaixo. Imprima na tela apenas os caracteres da posição 1 a 18.
frase = 'Cientista de Dados é o profissional mais sexy do século XXI'

frase[:18]

'Cientista de Dados'